.BgImage{
    background-image: url('/public/img/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:800px;
    }
  .Opacity{
    padding: 240px 0;
    background-size: cover;
    background-color: black;
    opacity: 0.3;
    height:800px;
  }
  .BgImage h1{
    font-size: 4rem;
  }
  .BgImage h2{
    font-size: 2rem;
  }
  