/*Header*/
.NavBar{
  background-color: #444;
}
.Footer{
  background-color: #EEEEEE;
}

/*Accueil*/
.BgImage{
  background-image: url('/public/img/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:800px;
  }
.Opacity{
  padding: 240px 0;
  background-size: cover;
  background-color: black;
  Opacity: 0.3;
  height:800px;
}
.Opacity h1{
  font-size: 4rem;
}
.Opacity h2{
  font-size: 2rem;
}
.About{
  display: flex;
}
.AboutShadow{
  width: 80%;
  margin: auto;
  box-shadow: 0px 4px 7px 0px #C6C6C6;
}
.AboutTitle{
  border-top: solid #0D6EFD ;
}


/*Service*/
.CardService{
  border: 0;
  border-radius: 4%;
  box-shadow: 0px 1px 3px 0px #C6C6C6 ;
}
.Icon{
  color: #0D6EFD;
  font-size: 3rem;
}

/*Realization*/
.Border{
  border: solid 2px #0D6EFD;
}

/*Blog*/


/*Contact*/
.MainContact{
  background-image: url('/public/img/contact-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.Form, .Map{
  border-top: solid #0D6EFD;
}

/*LegalNotice*/

/*Footer*/
.LinkIcon{
  color: #444;
  font-size: 2rem;
}